<div class="card-columns">
  <div class="card">
      <div class="card-header">
          Gerade verfügbar
      </div>
      <div class="card-block">
          <div class="card-media-block">
              <img src="../../assets/cars/bmw_sedan_blue.jpeg" class="card-media-image">
              <div class="card-media-description">
                  <span class="card-media-title">
                      BMW Sedan
                  </span>
                  <span class="card-media-text">
                      Owner: John Doe
                  </span>
              </div>
          </div>
          <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas nemo quam doloribus deleniti officiis similique sunt corporis assumenda, saepe animi beatae reiciendis quis nam quibusdam quo ad magnam praesentium?
          </div>
      </div>
      <div class="card-footer">
          <button class="btn btn-sm btn-link">Action</button>
      </div>
  </div>
  <div class="card">
      <div class="card-header">
          Gerade verfügbar
      </div>
      <div class="card-block">
          <div class="card-media-block">
              <img src="../../assets/cars/renault_megane_hatchback_white.jpeg" class="card-media-image">
              <div class="card-media-description">
                  <span class="card-media-title">
                      Renault Megane
                  </span>
                  <span class="card-media-text">
                      Owner: John Doe
                  </span>
              </div>
          </div>
          <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas nemo quam doloribus deleniti officiis similique sunt corporis assumenda, saepe animi beatae reiciendis quis nam quibusdam quo ad magnam praesentium?
          </div>
      </div>
      <div class="card-footer">
          <button class="btn btn-sm btn-link">Action</button>
      </div>
  </div>
  <div class="card">
      <div class="card-header">
          Gerade verfügbar
      </div>
      <div class="card-block">
          <div class="card-media-block">
              <img src="../../assets/cars/vw_kaefer_orange.jpeg" class="card-media-image">
              <div class="card-media-description">
                  <span class="card-media-title">
                      VW Käfer
                  </span>
                  <span class="card-media-text">
                      Owner: John Doe
                  </span>
              </div>
          </div>
          <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas nemo quam doloribus deleniti officiis similique sunt corporis assumenda, saepe animi beatae reiciendis quis nam quibusdam quo ad magnam praesentium?
          </div>
      </div>
      <div class="card-footer">
          <button class="btn btn-sm btn-link">Action</button>
      </div>
  </div>
  <div class="card">
      <div class="card-header">
          Gerade verfügbar
      </div>
      <div class="card-block">
          <div class="card-media-block">
              <img src="../../assets/cars/range_rover_white.jpeg" class="card-media-image">
              <div class="card-media-description">
                  <span class="card-media-title">
                      Range Rover
                  </span>
                  <span class="card-media-text">
                      Owner: John Doe
                  </span>
              </div>
          </div>
          <div class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas nemo quam doloribus deleniti officiis similique sunt corporis assumenda, saepe animi beatae reiciendis quis nam quibusdam quo ad magnam praesentium?
          </div>
      </div>
      <div class="card-footer">
          <button class="btn btn-sm btn-link">Action</button>
      </div>
  </div>
</div>